<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="/style.css">

    <link rel="webmention" href="https://webmention.io/{{config.extra.url}}/webmention" />

    {% block rss %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ get_url(path="thumb.png") }}">
</head>

<body>
    {% block content %} {% endblock %}
</body>

<footer>
  {% block footer %}
  <p>
  <a href="/" >Latest</a>
  <a href="/rss.xml">Feed</a>
  <a href="/author" >Author</a>
  <a href="https://preranasubedi.com.np" >Gallery</a>
  <a href="/nexus" >Nexus</a>
  <a href="/tags" >Tags</a>
  </p>
  {% endblock footer %}
</footer>
</html>
