{% macro next() %}
  <section class="next">
      <h2>Wondering?</h2>
    <div><p>Maybe explore my archives. Check my main site <a href="https://preranasubedi.com.np/">preranasubedi.com.np</a>. Follow the site using <a href="{{ get_url(path="rss.xml", trailing_slash=false) }}">RSS</a>. <a href="mailto:me@preranasubedi.com.np">Send</a> me a message and I’ll read it.</p></div>
  </section>
{% endmacro next %}


{% macro indiewebcard() %}
  <div class="p-author h-card" style="display: none;">
    <a class="u-url" href="{{ config.base_url }}" rel="me">
      <img class="u-photo" src="{{ config.extra.profile }}" alt="{{ config.author }}">
      <span class="p-name">{{ config.author }}</span>
      <p class="p-note">{{ config.extra.note }}</p>
    </a>
  </div>
{% endmacro indieweb %}
