{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}

{% set last_ancestor = page.ancestors | slice(start=-1) %}
{% set current_section = get_section(path=last_ancestor.0) %}
{% set current_year = page.date | date(format="%Y") %}
{% set current_month = page.date | date(format="%B") %}
{% set latest_post = current_section.pages | first %}

<div>
    <div class="h-entry">

    {{ macros::indiewebcard() }}

    <h1 class="p-name"><a href="{{ config.base_url }}">{{ page.title }}</a></h1>
        <a class="u-url" href="{{ page.permalink }}" style="display: none;"></a>
        <div class="e-content p-content">
          {% set content = page.content | replace(from="[<em>", to='<em class="inner-voice">') | replace(from="</em>]", to="</em>") %}
            {{ content | safe }}
        </div>

        <div class="date">
          {% if page.date %}
              <time class="dt-published" datetime="{{ page.date | date(format="%Y-%m-%dT%H:%M:%SZ") }}">
                  {{ page.date | date(format="%B %-d, %Y") }}
              </time>
          {% endif %}
        </div>
            
        <div class="tag">
          {% if page.taxonomies.tags %}
              {% for tag in page.taxonomies.tags %}
                  <a class="u-category" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag }}</a>
              {% endfor %}
          {% endif %}
        </div>
    </div>
</div>

<div class="spacing"><div>

{{ macros::webmention() }}

{{ macros::next() }}

<div class="spacing"><div>

<section>
  {% set latest_year = current_section.pages[0].date | date(format="%Y") %}
  {% set latest_month = current_section.pages[0].date | date(format="%B") %}
  
  
  {% if latest_month != current_month %}
  <div>
    <h2 class="latest-month-header">Latest Posts</h2>
    {% for page in current_section.pages %}
      {% if page.date | date(format="%Y") == latest_year and page.date | date(format="%B") == latest_month %}
        {% set day = page.date | date(format='%d') | trim_start_matches(pat='0') %}
        {% set suffix = "th" %}
        {% if day == "1" or day == "21" or day == "31" %}
          {% set suffix = "st" %}
        {% elif day == "2" or day == "22" %}
          {% set suffix = "nd" %}
        {% elif day == "3" or day == "23" %}
          {% set suffix = "rd" %}
        {% endif %}
        <article class="listing latest-month-post">
          <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
          <span class="separator"></span>
          <time datetime="{{ page.date | date(format='%Y-%m-%d') }}">
            {{ day }}<sup>{{ suffix }}</sup>
          </time>
        </article>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}

  <div>
    <h3>Posts from {{ current_month }} {{ current_year }}</h3>
    {% for post in current_section.pages %}
      {% if post.date | date(format="%Y") == current_year and post.date | date(format="%B") == current_month %}
        {% set day = post.date | date(format='%d') | trim_start_matches(pat='0') %}
        {% set suffix = "th" %}
        {% if day == "1" or day == "21" or day == "31" %}
          {% set suffix = "st" %}
        {% elif day == "2" or day == "22" %}
          {% set suffix = "nd" %}
        {% elif day == "3" or day == "23" %}
          {% set suffix = "rd" %}
        {% endif %}
        <article class="listing latest-month-post {% if post == page %}current-post{% endif %}">
          <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
          <span class="separator"></span>
          <time datetime="{{ post.date | date(format='%Y-%m-%d') }}">
            {{ day }}<sup>{{ suffix }}</sup>
          </time>
        </article>
      {% endif %}
    {% endfor %}
  </div>


  {# Accordion for Previous Months #}
  <details class="previous-months-accordion">
    <summary>Archives</summary>
    
    {% set prev_year = "" %}
    {% set prev_month = "" %}
    {% for post in current_section.pages %}
      {% set iter_year = post.date | date(format="%Y") %}
      {% set iter_month = post.date | date(format="%B") %}
      
      {# Skip current month posts #}
      {% if iter_year != current_year or iter_month != current_month %}
        {# Display year and month header in the same line #}
        {% if iter_year != prev_year or iter_month != prev_month %}
          <div class="date-header">
            {% if iter_year != prev_year %}
              <span class="year-header">{{ iter_year }}</span>
              {% set_global prev_year = iter_year %}
            {% else %}
              <span></span> {# Empty span to maintain spacing #}
            {% endif %}
            {% if iter_month != prev_month %}
              <span class="month-header">{{ iter_month }}</span>
              {% set_global prev_month = iter_month %}
            {% endif %}
          </div>
        {% endif %}
        
        {% set day = post.date | date(format='%d') | trim_start_matches(pat='0') %}
        {% set suffix = "th" %}
        {% if day == "1" or day == "21" or day == "31" %}
          {% set suffix = "st" %}
        {% elif day == "2" or day == "22" %}
          {% set suffix = "nd" %}
        {% elif day == "3" or day == "23" %}
          {% set suffix = "rd" %}
        {% endif %}
        <article class="listing">
          <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
          <span class="separator"></span>
          <time datetime="{{ post.date | date(format='%Y-%m-%d') }}">
            {{ day }}<sup>{{ suffix }}</sup>
          </time>
        </article>
      {% endif %}
    {% endfor %}
  </details>
</section>

{% endblock content %}
