{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}

<div>
    <div class="h-entry">
        <!---------------- IndieWeb Plate  ------------------>
        <a class="u-url" style="display: none;" href="{{ section.permalink }}">{{ section.permalink }}</a>
        <div class="p-author h-card" style="display: none;">
          <a class="u-url" href="{{ config.base_url }}" rel="me">
            <img class="u-photo" src="{{ config.extra.profile }}" alt="{{ config.author }}">
            <span class="p-name">{{ config.author }}</span>
          </a>
        </div>
        <!--------------- /IndieWeb Plate  ------------------>

        <h1 class="p-name"><a href="{{ config.base_url }}">{{ section.title }}</a></h1>

        <div class="e-content">
            {% set content = section.content | replace(from="[", to='<em class="inner-voice">') | replace(from="]", to="</em>") %}
            {{ content | safe }}
        </div>

    </div>
</div>

{% endblock content %}
